[submodule "thirdparty/lxUtils"]
	path = thirdparty/lxUtils
	url = https://github.com/kluete/lxUtils.git
[submodule "thirdparty/simplex"]
	path = thirdparty/simplex
	url = git@github.com:kluete/simplx.git
[submodule "thirdparty/cube"]
	path = thirdparty/cube
	url = git@github.com:isndev/cube.git
